  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
<!--    <link rel="stylesheet" href="/css/confetti_cuisine.css" />-->
  </head>
<div>
    <a href="/">Home</a>
    <a href="/courses">Courses</a>
    <a href="/subscribers/new">Contact</a>
    <a href="/subscribers">Subscribers</a>
    <a href="/users">Users</a>
</div>
<%- body %>
<p>footer</p>